<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>
<body>
    <h1>Bienvenido esta es la pagina de Charles Babbage</h1>
    <br>
    <br>
    <h2>aquí vera un poco de información sobre: Charles Babbage</h2>

    <img src="/img/babbage.jpg" alt="Charles Babbage">

    <h3>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</h3>

    <p>Se considera que la máquina analítica de Babbage fue la primera computadora de la historia. Un diseño inicial plenamente funcional de ella fue terminado en 1835. Sin embargo, debido a problemas similares a los de la máquina diferencial, la máquina analítica nunca fue terminada por Charles.</p>

    <a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">más información aquí</a>

    <img src="/img/maquinaBabbage.jpg" alt="">

    
</body>
</html>