<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners Lee</title>
</head>
<body>
    <h1>Bienvenido esta es la pagina de Berners Lee</h1>
    <br>
    <br>
    <h2>aquí vera un poco de información sobre:Tim Berners Lee</h2>

    <img src="/img/tim.jpg" alt="Tim Berners Lee">

    <h3>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</h3>

    <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).

        Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el proyecto Xanadú (que propuso Ted Nelson) y el memex (de Vannevar Bush).</p>

    <a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">más información aquí</a>

    <img src="/img/tim1.jpg" alt="">

    
</body>
</html>